*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1440px;
  min-height: 100%;

  margin: 0 auto;
  padding: 0;

  overflow-x: hidden;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.container {
  max-width: 1140px;
  padding: 0;
  margin: 0 auto;
  padding: 0 15px;
}

// * {
//   border: 1px solid #f00;
// }
