@media (any-hover: hover) {
  .button:hover {
    color: #ffffff;
    background-color: #598d66;
  }

  .main-menu__link:hover {
    color: #598d66;
  }

  .main-menu__basket:hover {
    svg path {
      stroke: #598d66;
      transition: 0.5s ease all;
    }
  }
}
