@media (any-hover: hover) {
  .main-menu__link {
    &:hover {
      color: #598d66;
    }
  }

  .main-menu__basket {
    &:hover {
      svg path {
        stroke: #598d66;
        transition: 0.5s ease all;
      }
    }
  }
}
